@use "../base/" as *;

.nav-link{
    @extend .body-md-500;
    @extend .text-grey-500;
    display: flex;
    align-items: center;
    gap: .75rem;
    transition: all $nav-link-color-transition-duration;

    &:hover{
        color: $white !important;
    }

}

.secondary-nav{
    box-shadow: 0px -1px 0px 0px $grey-100 inset;
}