@use "../base/" as *;

.form-input{
    display: block;
    padding: .75rem 1.125rem;
    border: 1px solid $grey-100;
    background: $white;
    color: $grey-900;
    @extend .body-lg-400;

    &:hover{
        border-color: $primary-200;
    }
    
    &:focus{
        box-shadow: 0 0 0 2px $primary-200;
    }

    &[data-type="textarea"]{
        resize: none;
        min-height: 7rem;
    }

    &.search{
        padding-left: 3rem;

        & + .search-icon{
            fill: $grey-900;
            position: absolute;
            top: .75rem;
            left: 1.125rem;
        }
    }
}