@use "../base/" as *;

.hero-section{
    background: linear-gradient(180deg, #f0f2f500 0.02%, #F0F2F5 220.8%);
}

.category-card:hover{
    box-shadow: 0px 12px 32px 0px #1d20261a;
}

// testimonials

.testimonials{
    .down-arrow::after{
        content: '';
        display: inline-block;
        border-width: 1.5rem 1rem;
        border-style: solid;
        border-color: #f5f7fa transparent transparent transparent;
    }

    .custom-swiper{
        .swiper-wrapper{
            @extend grid !optional;
            @extend grid-cols-12 !optional;
            @extend gap-6 !optional;
        }

        .swiper-pagination{
            position: relative;
        }
    }
}

.swiper-pagination-custom{
    position: relative;
}