/***** grey *****/

$grey-900: #1D2026;
$grey-800: #363B47;
$grey-700: #4E5566;
$grey-600: #6E7485;
$grey-500: #8C94A3;
$grey-400: #A1A5B3;
$grey-300: #B7BAC7;
$grey-200: #CED1D9;
$grey-100: #E9EAF0;
$grey-50: #F5F7FA;
$white: #fff;


/***** Primary *****/

$primary-900: #33140B;
$primary-800: #662916;
$primary-700: #993D20;
$primary-600: #CC522B;
$primary-500: #FF6636;
$primary-400: #FF855E;
$primary-300: #FFA386;
$primary-200: #FFDDD1;
$primary-100: #FFEEE8;

/***** Secondary *****/

$secondary-900: #111033;
$secondary-800: #222065;
$secondary-700: #342F98;
$secondary-600: #453FCA;
$secondary-500: #564FFD;
$secondary-400: #7872FD;
$secondary-300: #9A95FE;
$secondary-200: #CDCBFE;
$secondary-100: #EBEBFF;

/***** Success *****/

$success-900: #07260A;
$success-800: #0E4C14;
$success-700: #15711F;
$success-600: #1C9729;
$success-500: #23BD33;
$success-400: #4FCA5C;
$success-300: #7BD785;
$success-200: #C3E5C6;
$success-100: #E1F7E3;

/***** Warning *****/

$warning-900: #331D06;
$warning-800: #65390C;
$warning-700: #985613;
$warning-600: #CC7319;
$warning-500: #FD8E1F;
$warning-400: #FDA44C;
$warning-300: #FEBB79;
$warning-200: #FED1A5;
$warning-100: #FFF2E5;

/***** Danger *****/

$danger-900: #2D0E0E;
$danger-800: #5B1B1B;
$danger-700: #882929;
$danger-600: #B63636;
$danger-500: #E34444;
$danger-400: #E96969;
$danger-300: #EE8F8F;
$danger-200: #F4C8C8;
$danger-100: #FFF0F0;

